#trigram{
	margin-top: 18px;
	margin-right: 20px;
}

@media only screen and (max-width: 343px){
	#trigram{
		margin-top: 8px;
	}
}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-80.message { 
	font-size: 80px; 
	color: #FF8800;
	width: 14%;
	height: 13%;
	margin-left: 32%;
}
.material-icons.md-80.phone { 
	font-size: 80px; 
	color: #FF8800;
	width: 12%;
	height: 15%;
	margin-left: 10%;
}
.material-icons.md-100.about { 
	font-size: 100px; 
	color: #FF8800;
	
}
.md-100.policy {
	font-size: 100px;
	color: #FF8800;
}
.w3-navbar li a{

		font-size: 20px;
		transition: all 0.5s;
	}

.w3-navbar li a:hover{
		color: #FFEB3B;
		background:none;

}
#twitter,#facebook,#instagram,#envelope,#info-circle{
	margin-top: 14px;
}
#twitter:hover{
	color:#1DA1F2;
}
#facebook:hover{
	color:#000;
}
#instagram:hover{
	color:#FF4141;
}

#demo{
		background-color: #606fc7;
		color: #fff;

	}
#demo ul li a{
		border-bottom: 2px solid #d9dcf1;
	}
	
@media only screen and (max-width: 850px){
	.w3-navbar li a:hover,#demo ul li a:hover,#twitter:hover,#facebook:hover,#instagram:hover{
			background:none;
			color: #fff;
	}
}
@media only screen and (max-width: 768px){
		.material-icons.md-80.message {
			margin-left: 15%;
		}
		.material-icons.md-80.phone {
			margin-left: 30%;
		}

}
#company_name{
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 45px;

}

#company_logo{
		width: 60px;
		height: 60px;
		margin-top: 11px;
		margin-left: 70px;
}

/*@media only screen and (max-width: 768px){
		#company_logo{
			margin-left: 30px;
		}
		#company_name{
			margin-left: 100px;
		}		
}*/

@media only screen and (max-width: 689px){
	#company_logo{
			margin-left: 30px;
	}	
	#company_name{
		margin-left: 15px;
	}
}
@media only screen and (max-width: 638px){
	#company_logo{
			margin-left: 30px;
		}

	#company_name{
		margin-left: 5px;
	}
}


@media only screen and (max-width: 600px){
	#company_logo{
			margin-left: 30px;
		}

	#company_name{
		margin-left: 110px;
	}
}
@media only screen and (max-width: 353px){
	#company_logo{
			margin-left: 30px;
			width: 50px;
			height: 50px;
		}

	#company_name{
		margin-left: 80px;
		font-size: 40px;
	}
}
@media only screen and (max-width: 343px){
	#company_logo{
		width: 45px;
		height: 45px;
	}
	#company_name{
		font-size: 35px;
		margin-left: 80px;
	}
}
@media only screen and (max-width: 291px){
	#company_logo{
		width: 40px;
		height: 40px;
	}
	#company_name{
		font-size: 30px;
		margin-left: 80px;
	}
}
	
	hr{
		margin-left: auto;
		margin-right: auto;
		height: 1px;
		background-color: #fff;
		width: 70%
	}
.w3-card-4{
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
#blog_title{
	font-family: 'Slabo 27px', serif;
}
	@media only screen and (max-width: 768px){
		.w3-card-4{
			width: 100%;
		}

		#blog_title{
			font-size: 30px;
		}
	}
@media only screen and (max-width: 343px){
	#blog_title{
		font-size: 25px;
	}
}
a.back-to-top {
	display: none;
	width: 30px;
	height: 30px;
	text-decoration: none;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a.back-to-top:hover{
	box-shadow: none;
}
#top_button{
	position: relative;
	bottom: 3px;
}
#envelope_image{
	width: 14%;
	height: 13%;
	margin-left: 32%;
}
#phone_image{
	width: 12%;
	height: 15%;
	margin-left: 10%;
}

#font_size1,#font_size2,#font_size3{
		font-size: 18px;
}
#font_size4{
	font-size:  14px;
}
#read_more_button{
	background-color: #fff;
	color:#000;
	box-shadow: none;
}
#read_more_button:hover{
	background-color: #3F51B5;
	color: #fff;
}

@media only screen and (max-width: 768px){
	#envelope_image{
		width: 25%;
		height: 14%;
		margin-left: 15%;
	}
	#phone_image{
		width: 23%;
		height: 14%;
		margin-left: 15%;
	}
	hr{
		width: 100%;
	}
	#read_more_button{
		background-color: #3F51B5;
		color: #fff;
	}
	#read_more_button:hover{
		box-shadow: none;

	}
}

#fb_button,#instagram_button,#twitter_button{
	text-decoration: none;
	outline: none;
	transition: all 0.5s;
}
#fb_button:hover{
	color: #000;
}
#instagram_button:hover{
	color: #FF4141;
}
#twitter_button:hover{
	color: #1DA1F2;
}
#fb_button_list{
	color: #3B5998;
}
#instagram_button_list{
	color: #FF4141;
}
#twitter_button_list{
	color: #1DA1F2;
}

#short_description,#content{
	font-size: 16px;
	color:#000;
}
#created_at,#posted_by{
	color: #999999;
}

#blog_title_link{
	text-decoration: none;
	outline: none;
}
@media only screen and (max-width: 768px){
	#short_description,#content{
		font-size: 15px;
	}
	#fb_button{
	color: #000;
	}
	#instagram_button{
		color: #FF4141;
	}
	#twitter_button{
		color: #1DA1F2;
	}
}

@media only screen and (max-width: 343px){
	#short_description,#content{
		font-size: 14px;
	}
}