{% extends 'blogApp/layout.html' %}


{% block title %}
				{% load staticfiles %}
	{{ blog.title }}
{% endblock%}
{% block css %}
{% endblock %}
{% block body %}
<div id="fb-root"></div><!-- FOR FACEBOOK SHARE BUTTON -->
<div class="w3-card-4 w3-section"><!-- START OF BLOG POST DIVISION-->
	<div class="w3-container ">
				  <p>
				  <header class="w3-container w3-blue ">
				  		<h1 class="w3-center" id="blog_title">{{ blogs.title|safe}}</h1>
				  </header>
				  <p class="w3-right-align" id="created_at"><u>{{ blogs.created_at }}</u></p>
				  <p class="w3-right-align" id="posted_by">Posted By : <u>{{ blogs.posted_by|safe }}</u></p>
				  <p class="" id="content">{{ blogs.content|safe }}</p>
				 
				  <a href="{{MEDIA_URL}}{{blogs.image}}"><img src="{{MEDIA_URL}}{{blogs.image}}" alt="'Post Image'" style="width:70%;" id="blog_image"></a><br><br><br>
				  <input type="button" value="Back" onclick="history.back(-1)" class="w3-btn w3-border w3-border-indigo w3-round-xlarge w3-right" id="read_more_button"/>
				  <br><br><br><br>
					
						
					<div class="fb-share-button"  data-href="http://info-tips.in/{% url 'detail' pk=blogs.pk  %}" data-layout="button_count" data-mobile-iframe="false"></div></p><br><!-- FOR FACEBOOK SHARE BUTTON -->
						
			</div>
		</div> <!-- END OF BLOG POST DIVISION -->
{% endblock %}
