{% extends 'blogApp/layout.html' %}
{%block head%}
<meta property="og:url"  content="http://www.info-tips.in/{% url 'detail' pk=blogs.pk  %}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ blogs.title}} -- {{ blogs.posted_by }}" />
<meta property="og:description"        content="{{ blogs.short_description }}" />
<meta property="og:image"              content="{{MEDIA_URL}}{{blogs.image}}" />
{%endblock%}
{% block title %}
				{% load staticfiles %}
	{{ blogs.title }}
{% endblock%}
{% block css %}
{% endblock %}


{% block body %}
<div id="fb-root"></div><!-- FOR FACEBOOK SHARE BUTTON -->
<div class="w3-card-4 w3-section"><!-- START OF BLOG POST DIVISION-->
	<div class="w3-container ">
				  <p>
				  <header class="w3-container w3-blue ">
				  		<h1 class="w3-center" id="blog_title">{{ blogs.title|safe}}</h1>
				  </header>
				  <p class="w3-right-align" id="created_at"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ blogs.created_at }}</p>
				  <p class="w3-right-align" id="posted_by"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{ blogs.posted_by|safe }}</p>
				  <p class="" id="content">{{ blogs.content|safe }}</p>
				 
				  <a href="{{MEDIA_URL}}{{blogs.image}}"><img src="{{MEDIA_URL}}{{blogs.image}}" alt="'Post Image'" style="width:70%;" id="blog_image"></a><br><br><br>
				  <input type="button" value="Back" onclick="history.back(-1)" class="w3-btn w3-border w3-border-indigo w3-round-xlarge w3-right" id="read_more_button"/>
				  <br><br><br><br>
					
						
					<div class="fb-share-button"  data-href="http://www.info-tips.in/{% url 'detail' pk=blogs.pk  %}" data-layout="button_count" data-mobile-iframe="false"></div></p><br><!-- FOR FACEBOOK SHARE BUTTON -->
						
			</div>
			<div class="w3-container w3-center">
				  				 <div class="w3-tag w3-round w3-blue" style="padding:7px">
 									 <div class="w3-tag w3-round w3-blue w3-border w3-border-white" style="padding:5px;">
    									Like Us&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Share Us
  									 </div>
								 </div> <br><br>
								<div class="w3-container"> 
				  				<a href="https://www.instagram.com/informativetips" target="_blank" id="instagram_button_list"><i class="fa fa-instagram w3-xxxlarge w3-left" aria-hidden="true"></i></a>
				  				<a href="https://www.facebook.com/infomativetips/" target="_blank" id="fb_button_list"><i class="fa fa-facebook-square w3-xxxlarge w3-center" aria-hidden="true"></i></a>
								<a href="https://twitter.com/informative_tip" target="_blank" id="twitter_button_list"><i class="fa fa-twitter w3-xxxlarge w3-right" aria-hidden="true"></i></a></div>
				  			</div>
				  			<br><br>
		</div> <!-- END OF BLOG POST DIVISION -->

		<!-- AdSense unit 4
		<div class="w3-container w3-center">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-9354873488824539"
			     data-ad-slot="8395730207"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>-->
{% endblock %}
