{% extends 'blogApp/layout.html' %}


{% block title %}
				{% load staticfiles %}
	
{% endblock%}
{% block css %}
{% endblock %}
{% block body %}
	<div class="w3-card-4 w3-section"><!-- START OF BLOG POST DIVISION-->

			<div class="w3-container ">
				  <p>
					  {% for blog in blogs %}
					  <header class="w3-container w3-blue ">
					  		<a href="{% url 'detail' pk=blog.pk  %}" id="blog_title_link"><h1 class="w3-center" id="blog_title">{{ blog.title|safe }}</h1></a>
					  </header>
					  <p class="w3-right-align" id="created_at"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.created_at }}</p>
					  <p class="w3-right-align" id="posted_by"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.posted_by|safe }}</p>
					  <p id="short_description">{{ blog.short_description|safe }}</p>
					  <a href="{% url 'detail' pk=blog.pk  %}"><button class="w3-btn w3-border w3-border-indigo w3-round-xlarge w3-right" id="read_more_button">Read More</button></a>
					  <a href="{{MEDIA_URL}}{{blog.image}}"><img src="{{MEDIA_URL}}{{blog.image}}" alt="'Post Image'" style="width:50%;" id="blog_image"></a><br><br><br>
				  </p>
				  		{%if forloop.counter == 3  %} <!-- ADSENSE DIVISION FOR AD UNIT - 3 -->
				  			<div class="w3-container">
				  				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								<!-- Ad unit 3 -->
								<ins class="adsbygoogle"
								     style="display:block"
								     data-ad-client="ca-pub-9354873488824539"
								     data-ad-slot="4105131408"
								     data-ad-format="auto"></ins>
								<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
				  			</div>
				  		{%endif%}

						{% endfor %}

			</div>
		</div> <!-- END OF BLOG POST DIVISION -->
{% endblock %}

{% block javascript %}
{% endblock %}
