{% extends 'blogApp/layout.html' %}


{% block title %}
				{% load staticfiles %}
	
{% endblock%}
{% block css %}
{% endblock %}
{% block body %}
	<div class="w3-card-4 w3-section"><!-- START OF BLOG POST DIVISION-->

			<div class="w3-container ">
				  <p>
					  {% for blog in blogs %}
					  <header class="w3-container w3-blue ">
					  		<a href="{% url 'detail' pk=blog.pk  %}" id="blog_title_link"><h1 class="w3-center" id="blog_title">{{ blog.title|safe }}</h1></a>
					  </header>
					  <p class="w3-right-align" id="created_at"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ blog.created_at }}</p>
					  <p class="w3-right-align" id="posted_by"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{ blog.posted_by|safe }}</p>
					  <p id="short_description">{{ blog.short_description|safe }}</p>
					  <a href="{% url 'detail' pk=blog.pk  %}"><button class="w3-btn w3-border w3-border-indigo w3-round-xlarge w3-right" id="read_more_button">Read More</button></a>
					  <a href="{{MEDIA_URL}}{{blog.image}}"><img src="{{MEDIA_URL}}{{blog.image}}" alt="'Post Image'" style="width:50%;" id="blog_image"></a><br><br><br>
				  </p>
				  		{%if forloop.counter == 3  %} 
				  		 <!-- ADSENSE DIVISION FOR AD UNIT - 3 -->
				  			<div class="w3-container">
				  				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								
								<ins class="adsbygoogle"
								     style="display:block"
								     data-ad-client="ca-pub-9354873488824539"
								     data-ad-slot="4105131408"
								     data-ad-format="auto"></ins>
								<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
				  			</div>
				  			<div class="w3-container w3-center">
				  				 <div class="w3-tag w3-round w3-blue" style="padding:7px">
 									 <div class="w3-tag w3-round w3-blue w3-border w3-border-white" style="padding:5px;">
    									Like&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Share
  									 </div>
								 </div> <br><br>
								<div class="w3-container"> 
				  				<a href="https://www.instagram.com/informativetips" target="_blank" id="instagram_button_list"><i class="fa fa-instagram w3-xxxlarge w3-left" aria-hidden="true"></i></a>
				  				<a href="https://www.facebook.com/infomativetips/" target="_blank" id="fb_button_list"><i class="fa fa-facebook-square w3-xxxlarge w3-center" aria-hidden="true"></i></a>
								<a href="https://twitter.com/informative_tip" target="_blank" id="twitter_button_list"><i class="fa fa-twitter w3-xxxlarge w3-right" aria-hidden="true"></i></a></div>
				  			</div>
				  			<br><br>

				  			<div class="w3-container w3-center"> <!-- AMAZON BANNER -->
								<script type="text/javascript" language="javascript"> var aax_size='300x250'; var aax_pubname = 'infotips-21'; var aax_src='302'; </script><script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
							</div>
				  		{%endif%}

						{% endfor %}

			</div>
		</div> <!-- END OF BLOG POST DIVISION -->
{% endblock %}

{% block javascript %}
{% endblock %}
