<!DOCTYPE html>
<html>
<head>
{%block head%}
{%endblock%}
	{%load staticfiles%}
	<title>	info-tips						
		{%block title%}

		{%endblock%}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="lhOudrRRG1qD-IB2KtRGtVVuG8HPLBMIYyZfuTgjAPA" />
	<link rel="shortcut icon" href="{% static 'blogApp/images/logo_black.jpg'%}"> <!--logo on site-->
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'blogApp/css/blog_list.css'%}">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
		    google_ad_client: "ca-pub-9354873488824539",
		    enable_page_level_ads: true
		  });
	</script>
	{% block css %}
	{% endblock %}


</head>
<body>


		<ul class="w3-navbar  w3-xxlarge w3-indigo w3-left-align" id="home"><!-- START OF NAVBAR -->
			  <a href="/"><img src="{% static 'blogApp/images/logo_black.jpg'%}" class="w3-circle w3-left" id="company_logo"></a>
			  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right" id="trigram">
			  	<a href="javascript:void(0);" onclick="myFunction()"><i class="material-icons md-36">&#xE5D2;</i></a>
			  </li>

			 <!-- <li class="w3-hide-medium w3-hide-large w3-opennav w3-right" id="trigram">
			    	<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
			  </li>-->
			  
			  <li><a id="company_name" href="/">info-tips</a></li>
			  <li class="w3-hide-small" id="envelope"><a href="#" onclick="document.getElementById('id01').style.display='block'"><i class="material-icons md-36">&#xE0BE;</i></a></li>
			  <!--<li class="w3-hide-small w3-right"><a href="#" onclick="document.getElementById('id01').style.display='block'">Contact Us</a></li>-->
			  <li class="w3-hide-small" id="info-circle"><a href="#" onclick="document.getElementById('id02').style.display='block'"><i class="material-icons md-36">&#xE88E;</i></a></li>
			  <!--<li class="w3-hide-small w3-right"><a href="#" onclick="document.getElementById('id02').style.display='block'">About</a></li>-->
		</ul><!-- END OF MAIN NAVBAR -->

		<div id="id01" class="w3-modal"><!-- START OF MODAL CLASS FOR CONTACT US -->
  			<div class="w3-modal-content w3-animate-top w3-card-8">
    			<header class="w3-container"> 
      				<span onclick="document.getElementById('id01').style.display='none' "class="w3-closebtn">&times;</span>
      				 <br><br><i class="material-icons md-80 message">&#xE0C9;</i>
      				 <i class="material-icons md-80 phone">&#xE0CF;</i>
    			</header>
    			<br><br><br><div class="w3-container w3-indigo">
      				<p class="w3-center" id="font_size1">Drop us an email at <a href="mailto:infotips.blogs@gmail.com?Subject=Feedback/Blog Post" target="_blank">infotips.blogs@gmail.com</a></p>
      				<p class="w3-center" id="font_size2">Or, call us at <a href="#">+91-9958384571</a></p>
      				<hr>
      				<p class="w3-center" id="font_size4">(Give us your feedback to help us improve)<p><br>
      				<p class="w3-center" id="font_size3">If you wish to post your own blog, please send us your content at the email id provided above!</p>
      				<p class="w3-center" id="font_size4">Read our <a href="#" onclick="document.getElementById('id03').style.display='block',document.getElementById('id01').style.display='none'">Policy</a> before sending us your posts.</p>
    			</div>
  			</div>
		</div><!-- END OF MODAL CLASS FOR CONTACT US -->


		<div id="id03" class="w3-modal"><!-- START OF MODAL CLASS FOR POLICY -->
  			<div class="w3-modal-content w3-animate-top w3-card-8">
    			<header class="w3-container w3-center"> 
      				<span onclick="document.getElementById('id03').style.display='none' "class="w3-closebtn">&times;</span>
      				 <br><br><i class="md-100 policy  fa fa-bullhorn" aria-hidden="true"></i>
      				 
    			</header>
    			<br><br><br><div class="w3-container w3-indigo">
      				<p class="w3-center" id="font_size1">We at <span style="font-family:'Ubuntu Condensed', sans-serif;font-size: 21px;">info-tips</span> encourage people to post only valuable content on our site. Hence we don't allow users to directly post on our site.</p>
      				<p class="w3-center" id="font_size1">If you wish to post on our site, kindly send us your content at <a href="mailto:infotips.blogs@gmail.com?Subject=Feedback/Blog Post" target="_blank">infotips.blogs@gmail.com</a> , keeping in mind these points : </p>
      				<ul>
      					<li>The post should be about something useful, which could help people in some way.</li><br>
      					<li>The mail should contain a 'Title' , a 'Short Description' , a detailed 'Description', your 'Name' which will be posted on our site [if you don't provide your name, it will be considered as 'Anonymous'] and an appropriate 'Image' related to the post</li><br>
      					<li>If you have used some sources in writing your content, kindly attach those also. E.g. if you have taken any help from a site, then you have to give the appropriate link for that.</li>
      				</ul>
      				<p class="w3-center" id="font_size1">Looking forward to read your content on our site!</p>
    			</div>
  			</div>
		</div><!-- END OF MODAL CLASS FOR POLICY -->

		<div id="id02" class="w3-modal"><!-- START OF MODAL CLASS FOR ABOUT US -->
  			<div class="w3-modal-content w3-animate-top w3-card-8">
    			<header class="w3-container w3-center"> 
      				<span onclick="document.getElementById('id02').style.display='none' "class="w3-closebtn">&times;</span>
      				 <br><i class="material-icons md-100 about">&#xE88E;</i>
    			</header>
    			<br>
    			<div class="w3-container w3-indigo">
      				<p class="w3-center" id="font_size1"><span style="font-family:'Ubuntu Condensed', sans-serif;font-size: 22px;">info-tips</span> is a blog-post site, which caters to a multitude of genres.</p>
      				<p class="w3-center" id="font_size1">Here, one can find <i>informative - tips</i> [hence the name, <span style="font-family:'Ubuntu Condensed', sans-serif;font-size: 22px;">info-tips</span> ] , on different topics.</p>
      				
      				<p class="w3-center" id="font_size1">Blog Posts will be based on general day-to-day tips, providing easy and quick fixes.<br></p>
      				<p class="w3-center" id="font_size1">[LIFE HACKS !]</p>
      				<p class="w3-center" id="font_size1">Users can utilise these tips to make their lives much easier.</p>
      				<hr>
      				<p class="w3-center" id="font_size3">You can also post your own blog if you want to share some nice tip, please send us your content at <a href="mailto:infotips.blogs@gmail.com?Subject=Feedback/Blog Post" target="_blank">infotips.blogs@gmail.com</a></p>
      				<p class="w3-center" id="font_size4">Read our <a href="#" onclick="document.getElementById('id03').style.display='block',document.getElementById('id02').style.display='none'">Policy</a> before sending us your posts.</p>
      				
    			</div>
  			</div>
		</div><!-- END OF MODAL CLASS FOR ABOUT US-->

		<div id="demo" class="w3-hide w3-hide-large w3-hide-medium">
			  <ul class="w3-navbar w3-center-align w3-large">
			  	<li><a href="#" onclick="document.getElementById('id02').style.display='block'"><i class="material-icons md-36">&#xE88E;</i></a></li>
			    <!--<li><a href="#" onclick="document.getElementById('id02').style.display='block'">About</a></li>-->
			     <li><a href="#" onclick="document.getElementById('id01').style.display='block'"><i class="material-icons md-36">&#xE0BE;</i></i></a></li>
			    <!--<li><a href="#" onclick="document.getElementById('id01').style.display='block'">Contact Us</a></li>-->
			  </ul>
		</div><!-- END OF COLLAPSING NAVBAR -->

		
		<div class="w3-container w3-center"><!--AD SENSE AD UNIT 1 -->	
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Ad unit 1 -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-9354873488824539"
			     data-ad-slot="6634952207"
			     data-ad-format="auto">
			     	
			</ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		{%block body%}

		{%endblock%}
		<div class="w3-container w3-center"> <!-- AMAZON BANNER -->
			<script type="text/javascript" language="javascript"> var aax_size='300x250'; var aax_pubname = 'infotips-21'; var aax_src='302'; </script><script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
		</div>
		
		<div class="w3-container w3-center"><!--AD SENSE AD UNIT 2 -->	
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Ad unit 2 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-9354873488824539"
				     data-ad-slot="1762270603"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		</div>
		<footer class="w3-container w3-indigo w3-center"><!-- START OF FOOTER -->
			<p>If you wish to post a blog on our site or wish to leave a feedback for already posted blogs click <a href="#" onclick="document.getElementById('id01').style.display='block'">here</a>. </p>
			<a href="#" class="back-to-top w3-btn-floating w3-indigo w3-right"><i class="material-icons" id="top_button">&#xE5D8;</i></a><!-- BACK TO TOP BUTTON -->
			<a href="https://www.facebook.com/infomativetips/" target="_blank" id="fb_button"><i class="fa fa-facebook w3-xlarge" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.instagram.com/informativetips" target="_blank" id="instagram_button"><i class="fa fa-instagram w3-xlarge" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com/informative_tip" target="_blank" id="twitter_button"><i class="fa fa-twitter w3-xlarge" aria-hidden="true"></i></a>

			<p>&copy; 2016 , <span style="font-family:'Ubuntu Condensed', sans-serif;font-size: 18px;">info-tips</span> , All Rights Reserverd</p><br>
		</footer><!-- END OF FOOTER -->






	
	<!-- SCRIPTS START FROM HERE -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src = "{% static 'blogApp/js/blog_list.js' %}"></script>

	{% block javascript %}
	
	{% endblock %}
	

</body>

</html>